
        <head>
          <title>Bootstrap Example</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
<section>
    <div class="form-group " style="margin-bottom: 0px;">
  
      <div class=" container"></div>
  
      <h1 class="header">Filter Candidates</h1>
  
      <form class="input-form" #userForm="ngForm">

        
        <div class="container">
          <h2 class = "para">Select Candidate Information</h2>
          <form>
            <div class="form-group">
              <label class = "para" for="sel1">Select GPA range (select one):</label>
              <select class="form-control" id="sel1">
                <option>0-0.99</option>
                <option>1-1.99</option>
                <option>2-2.99</option>
                <option>3-4.00</option> 
              </select>
              <br>
              <label class = "para" for="sel2">Select majors (hold shift to select more than one):</label>
              <select multiple class="form-control" id="sel2">
                <option>Computer Science</option>
                <option>Mechanical Engineering</option>
                <option>English</option>
                <option>Chemistry</option>
                <option>Art</option>
                <option>Psychology</option>
              </select>
              <label class = "para" for="sel2">Select School (hold shift to select more than one):</label>
              <select multiple class="form-control" id="sel2">
                <option>The Ohio State University</option>
                <option>University of Michigan</option>
                <option>Penn State</option>
                <option>Harvard</option>
                <option>University of Maryland</option>
                <option>Cornell</option>
              </select>
            </div>
          </form>
        </div>
        
        
      
  
        <!-- save Button -->
        <button type="submit" class="btn input-form-btn" [disabled]="!userForm.form.valid"
          routerLink="/companyPage">Filter</button>
  
      </form>
    </div>
  </section>
  
