
        <head>
          <title>Bootstrap Example</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
<section>
    <div class="form-group " style="margin-bottom: 0px;">
  
      <div class=" container"></div>
  
      <h1 class="header">Filter Candidates</h1>
  
      <form class="input-form" #userForm="ngForm">

        
        <div class="container">
          <h2 class = "para">Select Candidate Information</h2>
          <p>Pick GPA range (select from lists):</p>
          <form>
            <div class="form-group">
              <label for="sel1">Select list (select one):</label>
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <br>
              <label for="sel2">Mutiple select list (hold shift to select more than one):</label>
              <select multiple class="form-control" id="sel2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </form>
        </div>
        
        
      
  
        <!-- save Button -->
        <button type="submit" class="btn input-form-btn" [disabled]="!userForm.form.valid"
          routerLink="/companyPage">Filter</button>
  
      </form>
    </div>
  </section>
  
