<body>
  <div class="container">
    <div *ngIf="resumeSubmit">
      <ul class="progressbar">
        <li class="active">Submit Resume</li>
        <li>Training Session</li>
        <li>Mock Interview</li>
        <li>Resume Approval</li>
      </ul>
    </div>
    <div *ngIf="training">
      <ul class="progressbar">
        <li class="active">Submit Resume</li>
        <li class="active">Training Session</li>
        <li>Mock Interview</li>
        <li>Resume Approval</li>
      </ul>
    </div>
    <div *ngIf="interview">
      <ul class="progressbar">
        <li class="active">Submit Resume</li>
        <li class="active">Training Session</li>
        <li class="active">Mock Interview</li>
        <li>Resume Approval</li>
      </ul>
    </div>
    <div *ngIf="resumeApproval">
      <ul class="progressbar">
        <li class="active">Submit Resume</li>
        <li class="active">Training Session</li>
        <li class="active">Mock Interview</li>
        <li class="active">Resume Approval</li>
      </ul>
    </div>
  </div>
</body>
