<section>
  <div class="form-group " style="margin-bottom: 0px;">

    <div class=" container"></div>

    <div class="text ml-5 mr-5" data-text="">Inroads</div>

    <form class="input-form" #userForm="ngForm">


      <!-- UserName -->
      <input type="text" class="input-form-text" id="UserName" required [(ngModel)]="user.userName" name="userName"
        #userName="ngModel" placeholder="User Name">
      <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
        User name is required
      </div>


      <!-- Password -->
      <input type="text" class="input-form-text" id="Password" required [(ngModel)]="user.password" name="passWord"
        #passWord="ngModel" placeholder="Password">
      <div [hidden]="passWord.valid || passWord.pristine" class="alert alert-danger">
        Password is required
      </div>

      <!-- login Button -->
      <button type="submit" class="btn input-form-btn" [disabled]="!userForm.form.valid"
        routerLink="/studentPage">Login</button>

      <button type="submit" class="btn registerButton" style="color:white" routerLink="/splash">Register Here</button>

    </form>
  </div>
</section>
