<section>
  <div class="form-group " style="margin-bottom: 0px;">

    <div class=" container"></div>

    <div class="text ml-5 mr-5" data-text="">Inroads</div>

    <form class="input-form" #userForm="ngForm">


      <!-- UserName -->
      <input type="text" class="input-form-text" id="UserName" required [(ngModel)]="user.userName" name="userName"
        #userName="ngModel" placeholder="User Name">
      <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
        User name is required
      </div>

      <!-- Password -->
      <input type="text" class="input-form-text" id="Password" required [(ngModel)]="user.password" name="passWord"
        #passWord="ngModel" placeholder="Password" (click)="checkIfBill()">
      <div [hidden]="passWord.valid || passWord.pristine" class="alert alert-danger">
        Password is required
      </div>

      <div *ngIf='bill'>
        <button type="button" class="btn input-form-btn" (click)="onSubmit()" [disabled]="!userForm.form.valid"
          routerLink="/companyPage"> Login </button> <!-- registration button -->
      </div>

      <!-- login Button -->
      <div *ngIf="!bill">
        <button type="button" class="btn input-form-btn" (click)="onSubmit()" [disabled]="!userForm.form.valid"
          routerLink="/studentPage"> Login
        </button> <!-- registration button -->
      </div>
      <button type="submit" class="btn registerButton" style="color:white" routerLink="/splash">Register Here</button>

    </form>
  </div>
</section>
