<html>

<body class = "body">
  <div class = "student">
  <button type="submit" class="button" routerLink = "/studentRegistration"><i class="fa fa-user"style="font-size:100px;color:#244c96;"></i></button>
  <h2 style="text-align:center" class="text">Student</h2>
  </div>

  <div class = "alumni">
      <button type="submit" class="bottombutton"><i class="fa fa-graduation-cap"style="font-size:100px;color:#244c96;"></i></button>
      <h2 style="text-align:center" class="text">Alumni</h2>
  </div>

  <div class = "company">
          <button type="submit" class="companybutton" routerLink = "/companyRegistration"><i class="fa fa-building"style="font-size:100px;color:#244c96;"></i></button>
          <h2 style="text-align:center" class="text">Company</h2>
  </div>


</body>
</html>
